{{> header}}

<div class="container">
    {{#if Articles}}
    <div id="body-sec" class="col-12">
        <div id="clear-row" class="row">
            <div class="col-12">
                <a id="clear-button" href="/clear">
                    <button type="button" class="btn btn-warning btn-lg">Clear Articles</button>
                </a>
            </div>
        </div>
        {{#each Articles}}
        {{#unless favorited}}
        {{> newsItem}}
        {{/unless}}
        {{/each}}
    </div>
    {{else}}
    <div id="no-scrape-sec" class="col-sm-12 col-md-10">
        <p id="no-scrape-p">Use the buttons above to scrape for articles.</p>
    </div>
    {{/if}}
</div>